include ./Sidebar.pug

// mixin addRow(name, company, phone, email, country, status)
mixin addRow(name, company, phone, email, country, status)
  tr
    td.column-name__name= name
    td.column-name__company= company
    td.column-name__phone= phone
    td.column-name__email= email
    td.column-name__country= country
    td.column-name__status
      case status
        when 'Active'
          .customers__table--align-center
            button.customers__status.customers__status--active Active
        default
          .customers__table--align-center
            button.customers__status.customers__status--inactive Inactive

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title CRM Dashboard Customer
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap")
    link(rel="stylesheet", href="styles.scss")
  body
    .container
      +Sidebar
      .main-content
        header.main-content__header
          .sidebar-toggle--open
            include ../assets/icons/setting.svg
          h1.main-content__title Hello Evano 👋🏼,
        .customers
          .customers__header
            .customers__title
              h2.customers__title-name All Customers
              span.customers__title-subname Active Members
            .customers__search
              input(placeholder='Search')
              include ../assets/icons/search.svg
          table.customers__table
            thead
              tr
                th.column-name__name Customer Name
                th.column-name__company Company
                th.column-name__phone Phone Number
                th.column-name__email Email
                th.column-name__country Country
                th.column-name__status
                  .customers__table--align-center Status
            tbody
              +addRow('Jane Cooper', 'Microsoft', '(225) 555-0118', 'jane@microsoft.com', 'United States', 'Active')
              +addRow('Floyd Miles', 'Yahoo', '(205) 555-0100', 'floyd@yahoo.com', 'Kiribati', 'Inactive')
              +addRow('Ronald Richards', 'Adobe', '(302) 555-0107', 'ronald@adobe.com', 'Israel', 'Inactive')
              +addRow('Marvin McKinne', 'Tesla', '(252) 555-0126', 'marvin@tesla.com', 'Iran', 'Active')
              +addRow('Jerome Bell', 'Google', '(629) 555-0129', 'jerome@google.com', 'Reúnion', 'Active')
              +addRow('Kathryn Murphy', 'Microsoft', '(406) 555-0120', 'kathryn@microsoft.com', 'Curaçao', 'Active')
              +addRow('Jacob Jones', 'Yahoo', '(208) 555-0112', 'jacob@yahoo.com', 'Brasil', 'Active')
              +addRow('Kristin Watson', 'Facebook', '(704) 555-0127', 'kristin@facebook.com', 'Åland Island', 'Inactive')
          .customers__summary
            .customers__summary--row-count Showing data 1 to 8 of 256K entries
            ul.customers__summary--pagination
              li.page-item.page-item--back <
              li.page-item.page-item--active 1
              li.page-item 2
              li.page-item 3
              li.page-item 4
              li.page-item.page-item--dots ...
              li.page-item 40
              li.page-item.page-item--back >

    script(src="index.js", type="module")
